body {
  padding: 0px;
  margin: 0px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px 30px 120px;
}
.background {
   background-image: url(https://www.kingstudio.ro/demos/theone/images/header-img.jpg) ;
   background-size: 100%;
  }
.title {
  width: 100px;
  height: 20px;
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  direction: row;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize; /* how IT works it с большой буквы как убрать? */
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.navigation-button{
  padding: 0px 10px;
}
.navigation-button:hover {
  color: #1fc585;
  cursor: pointer;
}
.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
}
.left-side {
  margin: 180px 10px 30px 120px;
  height: 450px;
  width: 600px;
}
.text-title{
  display: flex;
  flex-direction: row;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}
.the-name {
  text-transform: uppercase;
  padding: 0px 0px 0px 10px;
}
.one-name {
  color: #1fc585;
  text-transform: uppercase;
}
.subtitle {
  font-size: 26px;
  font-weight: 700;
  letter-spacing:0.5px;
}
.text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.main-buttons {
  display: flex;
  flex-direction: row;
}
.learn-more-button {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 10px 24px;
  text-transform: capitalize;
  margin: 30px 10px 0px 5px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  outline: none;
}
.eye-icon {
  padding-right: 10px;
}
.eye-icon:hover {
  color: grey; /* не работает??? */
}
.learn-more-button:hover {
  background-color: white;
  color: grey;
  cursor: pointer;
}
.our-pricing-button {
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 30px;
  padding: 5px 24px;
  border-radius: 50px;
  text-transform: capitalize;
  background: #1fc585;
  border: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  outline: none;
}
.our-pricing-button:hover {
  background-color: #199c69;
  cursor: pointer;
  }
.price-icon {
  margin-right: 10px;
}
.right-side {
  height: 450px;
  width: 500;
  margin: 60px 120px 30px 10px;
  padding: 10px 30px 70px 40px;
  background-color: #fff;
  color: #373e62;
}
.register{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.free {
  color: #1fc585;
  text-transform: capitalize;
}
.instruction {
  font-size: 14px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
}
.inputy {
  display: flex;
  flex-direction: column;
}
.window {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666666;
  background: #f7f7f7;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  padding: 18px 20px;
  width: 430px;
}
input[type="text"]::-webkit-input-placeholder {
  color: #ccc;
  font-family: 'Lato', sans-serif;

  }
input[type="text"]::-moz-placeholder {
  color: #ccc;
  font-family: 'Lato', sans-serif;
  }
.window-input {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  z-index: 2;
  }
  .window-input:focus {
  z-index: 10;
  }
  .input-icons {
    position: absolute;
    z-index: 5;
  }
.chek-register-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chek-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
input[type="checkbox" i] {
    background-color: #fff;
    cursor: pointer;
    margin: 15px 10px 10px 10px;
    height: 25px;
    width: 25px;
    border: 2px solid #cccccc;
    border-radius: 5px;
  }
.checkbox:hover {
  cursor: pointer;
}
.terms {
  font-family: 'Lato', sans-serif;
  color: #1fc585;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 20px;
}
.terms:hover {
  color: #199c69;
  cursor: pointer;
}
.register-button {
  display: flex;
  align-items:center;
  height: 45px;
  width: 130px;
  padding: 8px 20px;
  color: white;
  background: #1fc55a;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: 'Lato', sans-serif;
}
.register-button:hover {
  background-color: #199c69;
  cursor: pointer;
}
.exit-door {
  margin-right: 10px;
}
